doctype html
html
  head
    block meta
    meta(charset='uft-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='trytalk, CCSP, gov, speach, open')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/bootstrap1.css')
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(rel='stylesheet', href='/css/front-nav.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')


    block style

    script(type='text/javascript', src='/js/main/jquery.js')
    script(type='text/javascript', src='//code.jquery.com/jquery-1.10.2.js')
    script(type='text/javascript', src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
    // script(type='text/javascript', src='//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
    script(type='text/javascript', src='/js/main/jquery.validate.js')
    script(type='text/javascript', src='/js/main/jquery.serializeObject.js')
    script(type='text/javascript', src='/js/main/waypoints.min.js')
    script(type='text/javascript', src='/js/fb.js')
    script(type='text/javascript', src='/js/front.js')
  body
    //- script.
    .container
      header#header
        h1#logo
          a(href='/#main') 踹講 TryTalk
        nav#nav
          ul
            li
              a(href='/#main') 搜尋
            li
              a(href='/#talks') 講座
            li
              a(href='/#faq') 問題
            li
              a(href='/#pricing') 熱門講座

            - if (!user)
              li
                fb:login-button(scope='public_profile, email', onlogin='checkLoginState();')
                //-a(href='/#login') 登入管理
              li
                //- p=#{localStorage.user_name}
              //-   a(href='/#signup') 註冊
            - else
              li
                p=user.email
              li
                a(href='/logout') 登出
    section#main
      .row
        header
          h1(style='text-align:center;') Find a talk and vote for it!
          h4(style='text-align:center;') 快速查詢講座

        //- div(style='width:200px;height:260px;position:relative;')
        //-   img(style='width:200px; height:200px;', src='http://i1.ytimg.com/vi/DzIYaxqFIJ0/hqdefault.jpg',alt='hello!' class='img-rounded;').
        //-   div(style='text-align:center; font-size:16px; color:#5B5B5B;  padding-top:10px;')
        //-     東方神祕力量
        //-   button.btn.btn-info(style='left: 34%;', type='button') Vote
        //-   div(style='text-align: center; padding-top: 10px;') 1234


        .column.medium-10.small-10.small-centered
          form#subForm.sign-up-form.clearfix
            input#talk(type='text', name='talk', placeholder='欲查詢的講座', tabindex='1', autofocus='autofocus')
            input#search.button.radius(type='button', value='SEARCH', tabindex='3')

        //- div#QQ(style='width:200px;height:260px;position:relative;float:left;margin-left:5%;display:none;')
          img(style='width:200px; height:200px;border-radius:30px;', src='http://history.n.yam.com/news_photo/ebcnews/images/201106/M20110609914653.jpg',alt='hello!' class='img-rounded;').
          div(style='text-align:center; font-size:16px; color:#5B5B5B;  padding-top:10px;')  請問哪裡還有22k的公司？
          div(style='text-align:center; font-size:14px; color:gray;  padding-top:10px;') 郭台銘
          button.btn.btn-info(, type='button') Vote
          div(style='text-align: center; padding-top: 10px;') 1
        //- p#response=talk.topic


      //- div(style='width:200px;height:260px;position:relative;float:left;margin-left:5%;')
      //-   img(style='width:200px; height:200px;border-radius:30px;', src='http://www.bottomlineperformance.com/wp-content/uploads/2012/12/facebook-college-hackathon-done1.png',alt='hello!' class='img-rounded;').
      //-   div(style='text-align:center; font-size:16px; color:#5B5B5B;  padding-top:10px;') What is Hackathon?
      //-   button.btn.btn-info(style='left: 34%;', type='button') Vote
      //-   div(style='text-align: center; padding-top: 10px;') 999999
    section#talks

      .row
        header
          h1 Create your own talks
          h4 想聽誰的講座？
        .column.medium-8.small-10.small-centered
          form#subForm.sign-up-form.clearfix
            input#topic(type='text', name='topic', placeholder='輸入講座主題')
            input#speaker(type='text', name='speaker', placeholder='輸入演講者')
            //input#category(type='text', name='category', placeholder='輸入演講者類別')
            select.form-control
              option 科技
              option 生活
              option 其他
            input#description(type='text', name='description', placeholder='講座資訊')
            input#asd(type='file')
            img#img(src='')
            #base
            input#submit.button.radius(style='text-align:center;',type='button', value='提交', tabindex='3')
      .row
        header
          h1 What is hot now?
          h4 熱門的講座
        .column.medium-12.small-10.small-centered(style="margin-top:20px;")
          .talkPicture
            img(style='width:200px; height:200px;border-radius:30px;', src='http://i1.ytimg.com/vi/DzIYaxqFIJ0/hqdefault.jpg',alt='hello!' class='img-rounded;').
            .talkTitle
              東方神祕力量
            .talkSpeaker 李嗣涔
            button.btn.btn-info(, type='button') Vote
            .talkNumberOfVotes 1234

          .talkPicture
            img(style='width:200px; height:200px;border-radius:30px;', src='http://www.hotstudio.com/sites/default/files/hwt_blog_hackathon_0.png',alt='hello!' class='img-rounded;').
            .talkTitle What is Hackathon?
            .talkSpeaker 金子芮
            button.btn.btn-info(, type='button') Vote
            .talkNumberOfVotes 38419

          .talkPicture
            img(style='width:200px; height:200px;border-radius:30px;', src='https://dl.dropboxusercontent.com/u/79375953/pictureForWeb/180327033345.jpg',alt='hello!' class='img-rounded;').
            .talkTitle 第一次打政府臉就上手
            .talkSpeaker 童盈超
            button.btn.btn-info(, type='button') Vote
            .talkNumberOfVotes 68264

    section#category
      .row
        header
          h1 Now you can vote
          h4 你可以選擇支持下列已建立的講座
          //- .column.medium-12.small-10.small-centered
          .talkCategoryButton(style="margin-bottom:30px;")
            button.wid40.btn.btn-primary(type="button") 科技
            button.wid40.btn.btn-success(type="button") 生活
            button.wid40.btn.btn-warning(type="button") 其他

        .progress.progress-striped.active(style="margin-bottom:30px;") 人氣增加中
          .progress-bar(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%")
            span.sr-only 45% Complete
        #talk-content
          .talkPicture
            img(style='width:200px; height:200px;border-radius:30px;', src='http://i1.ytimg.com/vi/DzIYaxqFIJ0/hqdefault.jpg',alt='hello!' class='img-rounded;').
            .talkTitle
              東方神祕力量
            .talkSpeaker 李嗣涔
            button.btn.btn-info(, type='button') Vote
            .talkNumberOfVotes 1234

          .talkPicture
            img(style='width:200px; height:200px;border-radius:30px;', src='http://www.hotstudio.com/sites/default/files/hwt_blog_hackathon_0.png',alt='hello!' class='img-rounded;').
            .talkTitle What is Hackathon?
            .talkSpeaker 金子芮
            button.btn.btn-info(, type='button') Vote
            .talkNumberOfVotes 38419


        .talkPicture
          img.open1(style='width:200px; height:200px;border-radius:30px;', src='https://dl.dropboxusercontent.com/u/79375953/pictureForWeb/180327033345.jpg',alt='hello!' class='img-rounded;').
          .talkTitle 第一次打政府臉就上手
          .talkSpeaker 童盈超
          button.btn.btn-info(, type='button') Vote
          .talkNumberOfVotes 68264  

        .dialog1
          .thumbnail
            img(style="text-align:center;border-radius:70px;width:200px;height:200px;" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/72807_736689643016995_772469513_n.jpg")
            .caption(style="text-align:center;")
              h3 第一次打政府臉就上手
              p 這場演講會請到有名的阿超老師來示範，如何打臉。
            img(style="text-align:center;border-radius:30px;width:500px;height:300px;" src="http://images.takungpao.com/2014/0329/20140329031758803.jpg" alt="haha")
            p(style="text-align:center;")
              a.btn.btn-primary#voteButton(style="width:100px;" role="button" ) 我要投票！




      //- .wahaButton
      //-   button.btn.btn-default(style="width:120px;") toggleTest
      //- .wahaha haha

      //- a.ui-btn(href="#myPopup" data-rel="popup" data-transition="flip") flip
      //- #myPopup.ui-content(data-role="popup")
      //-   p This is a simple popup.

   

